{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block title %}
  love and laces | {{ setting.title }}
{% endblock %}
{% block meta_seo %}
  <meta name="description" content="{{ setting.tag_description }}" />
  <meta name="keywords" content="{{ setting.tag_keywords }}" />
  <meta property="og:title" content="{{ setting.title }}" />
  <meta property="og:description" content="{{ setting.tag_description }}" />
  <meta property="og:type" content="love and laces" />
  <meta property="og:url" content="{{ setting.link }}" />
  <meta property="og:image" content="{{ setting.logo }}" />
{% endblock %}
{% block content %}
<div class="breadcrumb-area h-50 position-relative pt-5 pb-5 bg-img bg-image" data-background="media/img/1.jpeg">
    <div class="container">
      <div class="row">
        <div class="col position-absolute bottom-0 start-0 w-auto p-3 bg-white bg-opacity-50">
          <h1 class="breadcrumb__title">About Category</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" class="link-secondary">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="about-content pt-5 pb-5">
      <div class="section-title-container mb-3">
        <div class="container">
          <div class="row">
            <div class="mx-auto col-lg-8">
              <div class="about-title-container text-center pt-5">
                <p class="text-capitalize mb-5">SIMPLY OR WHITE</p>
                <h2 class="display-4 fw-normal mb-4">Clever &amp; unique ideas</h2>
                <p class="lh-lg text-secondary">Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit
                  sagittis
                  leo sit met condimentum estibulum is Suspe ndisse suscipit sagittis leo sit met condimentum
                  estibulorem ipsum dolor sit amet, consectetur cing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-video-content mb-4">
        <div class="container">
          <div class="row">
            <div class="mx-auto col-lg-10">
              <div class="about-video-bg mb-5 bg-img bg-image" data-background="media/img/5.jpeg">
                <div class="about-video-content__text-icon d-flex flex-column h-100 justify-content-center">
                  <div class="play-icon text-center mb-5">
                    <button class="play-video" data-bs-toggle="modal" data-src="media/video/1.mp4" data-bs-target="#playModal">
                    <img src="https://img.icons8.com/external-bearicons-detailed-outline-bearicons/100/FFFFFF/external-play-essential-collection-bearicons-detailed-outline-bearicons.png" class="img-fluid" alt="">
                  </button>
                </div>
                  <!-- Modal -->
                <div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content">
                    <div class="modal-body p-0">
                      <button type="button" class="btn-close btn-close-outside" data-bs-dismiss="modal"
                        aria-label="Close">
                      </button>
                      <!-- 9:16 aspect ratio -->
                      <div class="ratio ratio-9x16">
                        <iframe allowfullscreen src="" id="video" allowscriptaccess="always"
                          allow="autoplay"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  <h1>OUR STORY</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mx-auto col-lg-10">
              <div class="row">
                <div class="col-md-6">
                  <div class="about-widget mb-5">
                    <h6 class="widget-title mb-4">ADDRESS</h6>
                    <p class="widget-content">1800 Abbot Kinney Blvd. Unit D &amp; E Venice</p>
                  </div>
                  <div class="about-widget mb-5">
                    <h6 class="widget-title mb-4">PHONE</h6>
                    <a href="tel:+971583035499" class="widget-content link-underline link-underline-opacity-0">Mobile: (+88) – 1990</a>
                  </div>
                  <div class="about-widget mb-5">
                    <h6 class="widget-title mb-4">EMAIL</h6>
                    <a href="mailto:info@next-rise.com" class="widget-content link-underline link-underline-opacity-0">contact@lezadastore.com</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-page-text">
                    <p class="space-mb--35">Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit
                      sagittis leo sit estibulum issim Lorem ipsum dolor sit amet, consectetur cing elit. ipsum dolor
                      sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit es</p>
                      <a class="lezada-button lezada-button--medium lezada-button--icon--left link-underline link-underline-opacity-0"
                      href="/shop/left-sidebar"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M416 277.333H277.333V416h-42.666V277.333H96v-42.666h138.667V96h42.666v138.667H416v42.666z">
                        </path>
                      </svg> online store
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}