{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block title %}
  love and laces | about us
{% endblock %}
{% block meta_seo %}
  <meta name="description" content="{{ setting.tag_description }}" />
  <meta name="keywords" content="{{ setting.tag_keywords }}" />
  <meta property="og:title" content="{{ setting.title }}" />
  <meta property="og:description" content="{{ setting.tag_description }}" />
  <meta property="og:type" content="love and laces" />
  <meta property="og:url" content="{{ setting.link }}" />
  <meta property="og:image" content="{{ setting.logo }}" />
{% endblock %}
{% block content %}
<div class="breadcrumb-area position-relative pt-5 pb-5 bg-img bg-image" data-background="{% if setting.bg_cover %}{{ setting.bg_cover.url }}{% endif %}">
    <div class="container">
      <div class="row">
        <div class="col position-absolute bottom-0 start-0 w-auto p-3 bg-white bg-opacity-50">
          <h1 class="breadcrumb__title">About Us Page</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}" class="link-secondary">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="about-content pt-5 pb-5">
      <div class="section-title-container mb-3">
        <div class="container">
          <div class="row">
            <div class="mx-auto col-lg-8">
              <div class="about-title-container lh-lg text-secondary pt-5">
                <p>{{ setting.text_aboutus|safe }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-video-content mb-4">
        <div class="container">
          <div class="row">
            <div class="mx-auto col-lg-10">
              <div class="about-video-bg mb-5 bg-img bg-image" data-background="{% if setting.bg_aboutus_img %}{{ setting.bg_aboutus_img.url }}{% endif %}">
                <div class="about-video-content__text-icon d-flex flex-column h-100 justify-content-center">
                  <div class="play-icon text-center mb-5">
                    <button class="play-video" data-bs-toggle="modal" data-src="{{ setting.aboutus_video.url }}" data-bs-target="#playModal">
                    <img src="https://img.icons8.com/external-bearicons-detailed-outline-bearicons/100/333333/external-play-essential-collection-bearicons-detailed-outline-bearicons.png" class="img-fluid" alt="">
                  </button>
                </div>
                  <!-- Modal -->
                <div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content">
                    <div class="modal-body p-0">
                      <button type="button" class="btn-close btn-close-outside" data-bs-dismiss="modal"
                        aria-label="Close">
                      </button>
                      <!-- 9:16 aspect ratio -->
                      <div class="ratio ratio-9x16">
                        <iframe allowfullscreen src="" id="video" allowscriptaccess="always"
                          allow="autoplay"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  <h1>OUR STORY</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mx-auto col-lg-10">
              <div class="row">
                <div class="col-md-6">
                  <div class="about-widget mb-5">
                    <h6 class="widget-title mb-4">ADDRESS</h6>
                    <p class="widget-content">{{ setting.address }}</p>
                  </div>
                  <div class="about-widget mb-5">
                    <h6 class="widget-title mb-4">PHONE</h6>
                    <a href="tel:{{ setting.call }}" class="widget-content link-underline link-underline-opacity-0">{{ setting.call }}</a>
                  </div>
                  <div class="about-widget mb-5">
                    <h6 class="widget-title mb-4">EMAIL</h6>
                    <a href="mailto:{{ setting.email }}" class="widget-content link-underline link-underline-opacity-0">{{ setting.email }}</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-page-text">
                    
                      <a class="lezada-button lezada-button--medium lezada-button--icon--left link-underline link-underline-opacity-0"
                      href="{% url "flowerwalls" %}"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M416 277.333H277.333V416h-42.666V277.333H96v-42.666h138.667V96h42.666v138.667H416v42.666z">
                        </path>
                      </svg> online flower wall
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}