{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block title %}
  love and laces | {{ setting.title }}
{% endblock %}
{% block meta_seo %}
  <meta name="description" content="{{ setting.tag_description }}" />
  <meta name="keywords" content="{{ setting.tag_keywords }}" />
  <meta property="og:title" content="{{ setting.title }}" />
  <meta property="og:description" content="{{ setting.tag_description }}" />
  <meta property="og:type" content="love and laces" />
  <meta property="og:url" content="{{ setting.link }}" />
  <meta property="og:image" content="{{ setting.logo }}" />
{% endblock %}
{% block Header_ref %}
  {% include 'shared/Header-ref.html' %}
{% endblock %}
{% block content %}
  <!-- Swiper -->
  <div class="swiper-container position-relative">
    <div class="swiper-wrapper">
      {% for flower in flowers %}
      <div class="swiper-slide">
        <div class="slide-bg-image bg-image" data-background="{% if flower.image %}{{ flower.image.url }}{% endif %}"></div>
        <div class="slide-detail position-absolute offset-lg-7 offset-md-4 offset-2 text-center text-lg-start col-lg-5">
          {% comment %} <h6 class="s-subtitle text-capitalize text-white mb-5">{{ promotion.subtitle }}</h6> {% endcomment %}
          <h1 class="s-title display-5 mb-2">{{ flower.title }}</h1>
          <div class="s-link">
            <a href="{{ flower.get_absolute_url }}" class="btn rounded-0">+ Flower Show</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination text-white d-lg-block"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <section class="container text-center mt-5 mb-4">
    <h1 class="display-4 mb-3 fw-normal">Find your Flower wall</h1>
  </section>
  <section>
    <div class="product-category container-fluid p-md-5 mb-2">
      <div class="row">
        {% for flower in flowers %}
        <div class="col-lg-3 col-md-6">
          <div class="single-category single-category--one">
            <div class="single-category__image single-category__image--one">
              <img src="{{ flower.image.url }}" class="img-fluid" alt="" />
            </div>
            <div class="single-category__content single-category__content--one space-mt--25 space-mb--25">
              <div class="title">
                <p>{{ flower.title }}</p>
                <a href="{{ flower.get_absolute_url }}">+ Flower Show</a>
              </div>
            </div>
            <a class="banner-link" href="{{ flower.get_absolute_url }}"></a>
          </div>
        </div>
        {% endfor %}

        <div class="col-lg-3 col-md-6">
          <div class="single-category__content single-category__content--textbanner">
            <a href="{% url "flowerwalls" %}">+ flower wall</a>
            <p class="text">
              <span>love and laces</span><br /><span>made</span><br /><span>with love</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid p-md-5 mb-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="countdown-background bg-img bg-image" data-background="{% if setting.bg_home_img %}{{ setting.bg_home_img.url }}{% endif %}">
          <div class="row p-md-5 p-3">
            <div class="ms-auto col-xl-7 col-lg-9">
              <div class="text-center">
                <h3 class="display-4 fw-normal">play our flower decoration</h3>
                <!-- Button trigger modal video -->
                <a type="button" class="play-btn play-video" data-bs-toggle="modal" data-src="{{ setting.home_video.url }}" data-bs-target="#playModal"></a>
                <!-- Modal -->
                <div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-body p-0">
                        <button type="button" class="btn-close btn-close-outside" data-bs-dismiss="modal" aria-label="Close"></button>
                        <!-- 9:16 aspect ratio -->
                        <div class="ratio ratio-9x16">
                          <iframe allowfullscreen src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block Footer_ref %}
  {% include 'shared/Footer-ref.html' %}
{% endblock %}
