{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block title %}
  love and laces | {{ setting.title_site }}
{% endblock %}
{% block meta_seo %}
  <meta name="description" content="{{ setting.tag_description }}" />
  <meta name="keywords" content="{{ setting.tag_keywords }}" />
  <meta property="og:title" content="{{ setting.title_site }}" />
  <meta property="og:description" content="{{ setting.tag_description }}" />
  <meta property="og:type" content="love and laces" />
  <meta property="og:url" content="{{ setting.link_site }}" />
  <meta property="og:image" content="{% static 'img/logo-video.png' %}" />
{% endblock %}
{% block Header_ref %}
  {% include 'shared/Header-ref.html' %}
{% endblock %}
{% block content %}
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-bg-image bg-image" data-background="{% static 'img/1.jpeg' %}"></div>
        <div class="slide-detail position-absolute offset-lg-7 offset-md-4 offset-2 text-center text-lg-start col-lg-5">
          <h6 class="s-subtitle text-capitalize text-white mb-5">GIFTS FOR MEN</h6>
          <h1 class="s-title display-5 mb-2">Feeling relax day, <br /> enjoy weekend</h1>
          <div class="s-link">
            <a href="#" class="btn rounded-0">shop now</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <h2>slide 2</h2>
        <div class="slide-bg-image bg-image" data-background="{% static 'img/5.jpeg' %}"></div>
        <div class="slide-detail">
          <h5 class="s-subtitle">Subtitle 2</h5>
          <h1 class="s-title">title</h1>
          <!-- <div > -->
          <a href="#" class="s-link">link</a>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination text-white d-lg-block"></div>
    <!-- <div class="jail-app-left-side-fractions"></div> -->
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <section class="container text-center mt-5 mb-4">
    <h1 class="display-4 mb-3 fw-normal">Spring summer 2020</h1>
    <h6 class="fw-normal">Find your style. Fall fashion 20xx</h6>
  </section>
  <section>
    <div class="product-category container-fluid p-md-5 mb-2">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-category single-category--one">
            <div class="single-category__image single-category__image--one">
              <img src="{% static 'img/category-women.jpg' %}" class="img-fluid" alt="" />
            </div>
            <div class="single-category__content single-category__content--one space-mt--25 space-mb--25">
              <div class="title">
                <p>Women</p>
                <a href="/shop/left-sidebar">+ Online store</a>
              </div>
              <p class="product-count">999</p>
            </div>
            <a class="banner-link" href="/shop/left-sidebar"></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-category single-category--one">
            <div class="single-category__content single-category__content--one space-mt--25 space-mb--25">
              <div class="title">
                <p>Women</p>
                <a href="/shop/left-sidebar">+ Online store</a>
              </div>
              <p class="product-count">999</p>
            </div>
            <div class="single-category__image single-category__image--one">
              <img src="{% static 'img/category-women.jpg' %}" class="img-fluid" alt="" />
            </div>
            <a class="banner-link" href="/shop/left-sidebar"></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-category single-category--one">
            <div class="single-category__image single-category__image--one">
              <img src="{% static 'img/category-women.jpg' %}" class="img-fluid" alt="" />
            </div>
            <div class="single-category__content single-category__content--one space-mt--25 space-mb--25">
              <div class="title">
                <p>Women</p>
                <a href="/shop/left-sidebar">+ Online store</a>
              </div>
              <p class="product-count">999</p>
            </div>
            <a class="banner-link" href="/shop/left-sidebar"></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-category single-category--one">
            <div class="single-category__content single-category__content--one space-mt--25 space-mb--25">
              <div class="title">
                <p>Women</p>
                <a href="/shop/left-sidebar">+ Online store</a>
              </div>
              <p class="product-count">999</p>
            </div>
            <div class="single-category__image single-category__image--one">
              <img src="{% static 'img/category-women.jpg' %}" class="img-fluid" alt="" />
            </div>
            <a class="banner-link" href="/shop/left-sidebar"></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-category__content single-category__content--textbanner">
            <a href="/shop/left-sidebar">+ store</a>
            <p class="text">
              <span>brand</span><br /><span>made</span><br /><span>with love</span>
            </p>
            <a class="banner-link" href="/shop/left-sidebar"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid p-md-5 mb-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="countdown-background bg-img bg-image" data-background="{% static "img/4.jpeg" %}">
          <div class="row p-md-5 p-3">
            <div class="ms-auto col-xl-7 col-lg-9">
              <div class="text-center">
                <h3 class="display-4 fw-normal">play our flower decoration</h3>
                <!-- Button trigger modal video -->
                <a type="button" class="play-btn play-video" data-bs-toggle="modal" data-src="{% static 'setting/1.mp4' %}" data-bs-target="#playModal"></a>
                <!-- Modal -->
                <div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="playModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-body p-0">
                        <button type="button" class="btn-close btn-close-outside" data-bs-dismiss="modal" aria-label="Close"></button>
                        <!-- 9:16 aspect ratio -->
                        <div class="ratio ratio-9x16">
                          <iframe allowfullscreen src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block Footer_ref %}
  {% include 'shared/Footer-ref.html' %}
{% endblock %}
