{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block title %}
  love and laces | {{ flower.title }}
{% endblock %}
{% block meta_seo %}
  <meta name="description" content="{{ setting.tag_description }}" />
  <meta name="keywords" content="{{ setting.tag_keywords }}" />
  <meta property="og:title" content="{{ setting.title }}" />
  <meta property="og:description" content="{{ setting.tag_description }}" />
  <meta property="og:type" content="love and laces" />
  <meta property="og:url" content="{{ setting.link }}" />
  <meta property="og:image" content="{{ setting.logo }}" />
{% endblock %}
{% block Header_ref %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11.1.3/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'css/flowerwall.css' %}" />
{% endblock %}
{% block content %}
  <div class="breadcrumb-area position-relative pt-5 pb-5 bg-img bg-image" data-background="{% if setting.bg_cover %}{{ setting.bg_cover.url }}{% endif %}">
    <div class="container">
      <div class="row">
        <div class="col position-absolute bottom-0 start-0 w-auto p-3 bg-white bg-opacity-50">
          <h1 class="breadcrumb__title">{{ flower.title }} Page</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url "home" %}" class="link-secondary">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url "flowerwalls" %}" class="link-secondary">Flower Walls</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{ flower.title }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <section class="container">
    <div class="card rounded-0 border-0 mt-5 mb-5">
      <div class="row g-0 mt-5 mb-5">
        <div class="col-md-6">
          <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-zoom-container">
                  <img src="{{ flower.image.url }}" />
                </div>
              </div>
              {% if galleries %}
              {% for gallery in galleries %}
              <div class="swiper-slide">
                <div class="swiper-zoom-container">
                <img src="{{ gallery.image.url }}" />
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
          {% if galleries %}
          <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="{{ flower.image.url }}" />
              </div>
              {% for gallery in galleries %}
              <div class="swiper-slide">
                <img src="{{ gallery.image.url }}" />
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h2 class="card-title display-6 fw-normal">{{ flower.title }}</h2>
            <p class="card-text text-black-50 fw-medium">Code: {{ flower.code }}</p>
            <p class="card-text">{{ flower.content|safe }}</p>
            
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block Footer_ref %}
{% include 'shared/swiperFlowerwall.html' %}
{% endblock %}
